<ng-container *ngIf="search == 'default'">
  <div class="row">
    <div class="col-xxl-5">
      <div class="row">
        <div class="col-md-6">
          <ngx-profit-card></ngx-profit-card>
        </div>
        <div class="col-md-6">
          <ngx-earning-card></ngx-earning-card>
        </div>
      </div>
  
      <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
    </div>
  
    <div class="col-xxl-7">
      <ngx-ecommerce-charts></ngx-ecommerce-charts>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxl-9">
      <ngx-country-orders></ngx-country-orders>
    </div>
  
    <div class="col-xxl-3">
      <ngx-progress-section></ngx-progress-section>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxl-9">
      <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
    </div>
  
    <!-- <div class="col-xxl-3">
      <ngx-user-activity></ngx-user-activity>
    </div> -->
    <div class="col-xxl-3">
      <nb-card size="medium">
  
        <nb-card-header>
          <span>What tweeter says</span>
        </nb-card-header>
      
        <nb-list class="user-activity-list">
          <nb-list-item style="display: block;" *ngFor="let item of statuses">
            <nb-user [name]="item.user.name" [title]="item.user.screen_name" [picture]="item.user.profile_image_url">
            </nb-user>
            <div class="" style="font-size: 10;">
              {{item.created_at | date}}
            </div>
            <img style="width: 52px;border-radius: 15%;" *ngIf="item.extended_entities != null" src='{{item.extended_entities.media[0].media_url}}' />
            <div>{{item.text}}</div>
  
      
          </nb-list-item>
        </nb-list>
      
      </nb-card>
    </div>
  
  </div>
</ng-container>


<ng-container *ngIf="search == 'BMW'">
  <div>BMW</div>
  <div class="row">
    <div class="col-xxl-5">
      <div class="row">
        <div class="col-md-6">
          <ngx-profit-card></ngx-profit-card>
        </div>
        <div class="col-md-6">
          <ngx-earning-card></ngx-earning-card>
        </div>
      </div>
  
      <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
    </div>
  
    <div class="col-xxl-7">
      <ngx-ecommerce-charts></ngx-ecommerce-charts>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxl-9">
      <ngx-country-orders></ngx-country-orders>
    </div>
  
    <div class="col-xxl-3">
      <ngx-progress-section></ngx-progress-section>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxl-9">
      <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
    </div>
  
    <!-- <div class="col-xxl-3">
      <ngx-user-activity></ngx-user-activity>
    </div> -->
    <div class="col-xxl-3">
      <nb-card size="medium">
  
        <nb-card-header>
          <span>What's tweets says</span>
        </nb-card-header>
      
        <nb-list class="user-activity-list">
          <nb-list-item style="display: block;" *ngFor="let item of statuses">
            <nb-user [name]="item.user.name" [title]="item.user.screen_name" [picture]="item.user.profile_image_url">
            </nb-user>
            <div class="" style="font-size: 10;">
              {{item.created_at | date}}
            </div>
            <img style="width: 52px;border-radius: 15%;" *ngIf="item.extended_entities != null" src='{{item.extended_entities.media[0].media_url}}' />
            <div>{{item.text}}</div>
  
      
          </nb-list-item>
        </nb-list>
      
      </nb-card>
    </div>
  
  </div>
</ng-container>





